# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/

# Coverage
htmlcov/
.coverage
.tox/

# Test
*.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# MyPy
.mypy_cache/
.dmypy.json

# PyInstaller
*.spec

# Jupyter
.ipynb_checkpoints/

# Other
*.swp
*.swo

# Local settings
local_settings.py
